.color-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .color-select-container {
    position: relative;
    cursor: pointer;
    .color-picker {
      position: absolute;
      right: 0;
      z-index: 9;
    }
  }
  .color-select-editor {
    display: flex;
    align-items: center;
    div {
      margin-left: 5px;
      width: 15px;
      height: 15px;
    }
  }
}