.l-panel
    position: absolute
    top: 72px
    left: 0
    bottom: 0
    z-index: 1
    background-color: #fff

    .l-editor
        height: 100%
        font-size: 14px
        box-shadow: 3px 0 16px rgba(0,0,0,.06)
        overflow: hidden

        .schema-editor
            padding: 24px 6px
            width: 490px
            font-size: 12px
            height: 100%
            background: #ffffff
            overflow: hidden
            color: rgba(0, 0, 0, .85)

            &-main
                height: 100%
                overflow: hidden

                h2
                    padding: 0 12px 0 18px
