@import './assets/fonts/iconfont.css';
@import '~antd/dist/antd.css';
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;box-sizing: border-box;} 
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  /* margin-bottom: .5em; */
  color: rgba(0,0,0,.85);
  font-weight: 500;
}
ul,li{list-style-type:none;}
input{outline: none;border-radius: 0px;border:0 none;}
input:focus{border: none;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  cursor: pointer;
  text-decoration: none;
}
.hide {display: none!important;}

/* 设置滚动条样式 */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #eee;
  border-radius: 16px;
}

/* 字体图标样式 */
.iconfont {
  font-size: 20px;
}