.lHeader 
    width: 100vw
    height: 56px
    background-color: #ffe300

    .logo
        width: 20%
        height: 56px
        background-color: rgba(0, 0, 0, 0.5)
        float: left
        display: flex
        align-items: center
        justify-content: center

        img
            width: 120px
            height: 25px

    .header-menu-bar
        width: 60%
        height: 56px
        background-color: #aaaaaa
        float: left

        .menu-box
            width: 100%
            height: 100%
            
            .menu-list-content
                width: 100%
                height: 100%
                display: flex
                justify-content: center
                align-items: center

                li
                    width: 12.5%
                    height: 56px
                    text-align: center
                    line-height: 56px

    .search
        width: 56px
        height: 56px
        background-color: yellow
        float: right
    
    .user-center
        width: 56px
        height: 56px
        background-color: blue
        float: right
