.l-header
    width: 100vw
    height: 72px
    min-width: 1090px

    nav
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

        .header-left
            display: flex
            align-items: center
            justify-content: space-between

            .header-left-logo
                width: 40px
                height: 40px
                overflow: hidden

                img
                    height: 40px

            .header-left-tabbar
                height: 40px
                width: 265px
                background-color: #f9f9f9

        .header-right
            height: 100%

            &-preview
